
section{
    font-family: 'Raleway',sans-serif;
    padding: 20px 18%;
    color: black;
    flex-grow: 1;
}

#descrizione{
    font-size: 28px;
    letter-spacing: 2px;
    text-align: center;
}
#errorContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.error,#compila,.errorphp{
    color:red;
    font-size: 15px;
}
button{
    padding: 5px;
    margin-top: 25px;
}
#impiegato{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

#impieghiPassati div{
    margin: 10px 0px;
}

@media(max-width: 800px){
    section{
        padding: 20px 10%;
    }

    #descrizione{
        font-size: 25px;
    }
 
}

#impiegato.hidden{
    display:none;
}
.hidden{
    display: none;
}